# Database
DATABASE_URL="postgresql://neondb_owner:npg_jwz8kFs0XVTe@ep-shy-truth-a5hat2dz-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"

# RapidAPI Instagram Scraper
RAPIDAPI_HOST="real-time-instagram-scraper-api1.p.rapidapi.com"
RAPIDAPI_KEY="da6f54ca68mshc06984da37c569bp1743f1jsne4c79beeb969"

# Telegram Bot
TELEGRAM_BOT_TOKEN="your_telegram_bot_token"
TELEGRAM_CHAT_ID="144022504"

# OpenAI
OPENAI_API_KEY="your_openai_api_key"

# Environment
NODE_ENV="development" 